<!doctype html>
<html   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
        layout:decorate="~{layout/defaultLayout.html}">
<head>
    <title>회원 관리 > 예비 운영진</title>
</head>

<div layout:fragment="content">
    <th:block th:if="${#authorization.expression('isAuthenticated()')}">
        <th:block th:with="me=${#authentication.principal}">
            <div class="w-full justify-center mx-auto font-medium">
                <!-- 상단 탭 -->
                <div class="flex text-xs border-b-2 mb-6">
                    <div class="px-3 py-2 border-b-2 border-black font-bold">
                        <a href="/super-admin/members/pre-admin">
                            예비 운영진
                        </a>
                    </div>
                    <div class="px-3 py-2 font-bold text-gray-400 hover:text-green-500">
                        <a href="/super-admin/members/admin">
                            운영진
                        </a>
                    </div>
                </div>

                <!-- 검색 옵션 -->
                <div class="w-full mb-6 text-sm">
                    <form id="preAdminSearchForm" class="flex flex-col w-full mt-1 gap-2">
                        <div class="border-b-2 flex justify-between items-center">
                            <select id="preAdminStatusType"
                                    name="preAdminStatusType"
                                    class="mb-2 px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-500">
                                <option value="afw">상태 전체</option>
                                <option value="a">활성화</option>
                                <option value="f">강제 탈퇴</option>
                                <option value="w">탈퇴</option>
                            </select>
                        </div>

                        <div class="flex flex-col md:flex-row w-full gap-2 mb-2">
                            <select id="preAdminSearchType"
                                    name="preAdminSearchType"
                                    class="w-full md:w-auto px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-500">
                                <option value="ine">전체 검색</option>
                                <option value="i">아이디</option>
                                <option value="n">이름</option>
                                <option value="e">이메일</option>
                            </select>

                            <input type="text"
                                   id="preAdminKeyword"
                                   name="preAdminKeyword"
                                   class="w-full md:flex-1 px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-500"
                                   placeholder="검색어를 입력하세요."
                            />

                            <div class="flex w-full md:w-auto">
                                <button id="preAdminSearchSubmitBtn"
                                        type="button"
                                        class="flex-1 md:flex-none px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 mr-2">
                                    검색
                                </button>
                                <button id="preAdminSearchResetBtn"
                                        type="button"
                                        class="flex-1 md:flex-none px-4 py-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-400">
                                    초기화
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- 예비 운영진 목록 테이블 -->
                    <div class="w-full overflow-x-auto">
                        <table class="min-w-full bg-white border-collapse border border-gray-200 text-xs table-auto">
                            <thead>
                            <tr class="border bg-gray-100">
                                <th class="py-1 px-1 text-center font-medium text-gray-600 border-b border border-gray-300" style="min-width: 120px;">아이디</th>
                                <th class="py-1 px-1 text-center font-medium text-gray-600 border-b border border-gray-300" style="min-width: 100px;">이름</th>
                                <th class="py-1 px-1 text-center font-medium text-gray-600 border-b border border-gray-300" style="min-width: 200px;">이메일</th>
                                <th class="py-1 px-1 text-center font-medium text-gray-600 border-b border border-gray-300" style="min-width: 110px;">등록날짜</th>
                                <th class="py-1 px-1 text-center font-medium text-gray-600 border-b border border-gray-300" style="min-width: 100px;">회원 상태</th>
                                <th class="py-1 px-1 text-center font-medium text-gray-600 border-b border border-gray-300" style="min-width: 100px;">관리</th>
                            </tr>
                            </thead>

                            <tbody id="preAdminTbody" th:data-auth-name="${me.authName}">
                            </tbody>

                        </table>
                    </div>

                    <!-- 페이징 -->
                    <div id="preAdminPaginationContainer">
                    </div>
                </div>
            </div>

            <!-- 예비 운영진 가져오기 모달 -->
            <div id="adminGetModal" class="fixed inset-0 bg-black bg-opacity-25 flex items-center justify-center hidden">
                <!-- Modal container -->
                <div class="bg-white rounded-lg w-full max-w-md mx-4 relative">
                    <!-- Close button -->
                    <div class="absolute top-4 right-4">
                        <button id="adminGetModalCloseBtn" class="text-gray-400 hover:text-gray-600">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>

                    <div>
                        <h1 class="text-xl font-bold text-center mb-8 mt-8">예비 운영진 가져오기</h1>
                    </div>

                    <!-- admin get form -->
                    <div class="px-2 pb-2">
                        <form id="adminGetForm">
                            <div class="mb-4">
                                <label for="name" class="block text-sm font-bold text-gray-700 mb-2">이름</label>
                                <div class="flex gap-2">
                                    <input type="text" id="name" name="name"
                                           class="text-sm flex-1 px-3 py-2 border border-gray-300 rounded-lg text-gray-700 focus:outline-none focus:ring-green-500 focus:border-green-500"
                                           disabled>
                                </div>
                            </div>

                            <div class="mb-4">
                                <label for="email" class="block text-sm font-bold text-gray-700 mb-2">이메일</label>
                                <div class="flex gap-2">
                                    <input type="email" id="email" name="email"
                                           class="text-sm flex-1 px-3 py-2 border border-gray-300 rounded-lg text-gray-700 focus:outline-none focus:ring-green-500 focus:border-green-500"
                                           disabled>
                                </div>
                            </div>

                            <div class="mb-4">
                                <label for="adminAuthSelect" class="block text-sm font-bold text-gray-700 mb-2">권한</label>
                                <div class="flex gap-2">
                                    <select id="adminAuthSelect" name="adminAuthNo"
                                            class="text-sm flex-1 px-3 py-2 border border-gray-300 rounded-lg border rounded-md mr-2 focus:outline-none focus:ring-2 focus:ring-green-500">
                                        <option th:each="adminAuth : ${adminAuthList}"
                                                th:value="${adminAuth.adminAuthNo}"
                                                th:text="${adminAuth.authNameKor}"
                                        ></option>
                                    </select>
                                </div>
                            </div>

                            <div class="mb-4 text-sm text-center">
                                <b>캠퍼스</b>는 관리자의 <span class="font-bold text-red-500">소속 캠퍼스</span>로<br>
                                <b>회원 상태</b>는 <span class="font-bold text-red-500">활성화</span>로 자동 설정됩니다.
                            </div>

                            <input type="hidden" name="adminNo">
                            <input type="hidden" name="campusNo" th:value="${me.campusNo}">
                            <button type="button" id="adminGetFormSubmitBtn"
                                    class="w-full bg-green-500 text-white py-3 px-4 rounded-lg hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50">
                                가져오기
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </th:block>
    </th:block>

    <script type="module" src="/js/domain/member/pre-admin.js"></script>
</div>

<script layout:fragment="script" th:inline="javascript">

</script>
</html>